<config>
    <server disabled="false">
        <port>8080</port>
        <max-clients>4</max-clients>
    </server>
    <client disabled="false">
        <port>8080</port>
        <host>localhost</host>
        <max-instances>4</max-instances>
        <spawn-strategy>PARALLEL</spawn-strategy>
        <instances>
            <instance delay="1000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
            <instance delay="2000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
            <instance delay="3000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
            <instance delay="4000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
            <instance delay="5000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
            <instance delay="6000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
            <instance delay="7000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
            <instance delay="8000">
                <request>IDENTITY</request>
                <request>TIME</request>
                <request>TIME</request>
                <request>DONE</request>
            </instance>
        </instances>
    </client>
</config>